<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      ><img class="logo-image" src="../../../assets/images/logo.png"
    /></mat-toolbar>
    <mat-nav-list>
      <mat-list-item *ngFor="let i of menuItems" [routerLink]="i.url">
        <mat-icon>{{ i.icon }}</mat-icon>
        <span matLine>{{ i.title }}</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Movie Buzz</span>
    </mat-toolbar>
    <section><router-outlet></router-outlet></section>
  </mat-sidenav-content>
</mat-sidenav-container>
